src/am4/utils/stubs/** linguist-vendored
src/am4/utils/tests/** linguist-vendored
src/am4/utils/cpp/include/ext/** linguist-vendored
src/am4/utils/_official_api/** linguist-vendored
src/am4/db/pb_migrations/** linguist-vendored
src/am4/db/pb_data/** linguist-vendored
misc/demand-research/** linguist-vendored
misc/old-versions/v1/** linguist-vendored
misc/scripts/** linguist-vendored