research/** linguist-vendored
am4/utils/stubs/** linguist-vendored
am4/utils/tests/** linguist-vendored
am4/utils/cpp/include/ext/** linguist-vendored
am4/db/pb_migrations/** linguist-vendored
src-v2-v3/** linguist-vendored
src-old/** linguist-vendored