[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pillow = "*"
urllib3 = "*"
"discord.py" = "*"
adjusttext = "*"
aiomysql = "*"
colour = "*"
pandas = "*"
mysqlclient = "*"
loguru = "*"
numpy = ">=1.21.2"
pyarrow = "<10.0.0"
pyodbc = "*"
turbodbc = "*"

[dev-packages]
rich = "*"

[requires]
python_version = "3.10.8"
